<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="../static/image/G-icon2.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="../static/image/G-icon2.png">
    <link rel="stylesheet" href="../static/css/about.css">
    <title>G-Mental | About</title>

</head>
<body>

<div class="list">
    <a class="menu" href="{{ home_url }}">Home</a>
    <a class="menu" href="{{ find_firend_url }}">Find-Firend</a>
    <a class="menu" href="{{ music_url }}">Music</a>
    <a class="menu" href="{{ peopole_says_url }}">People-Says</a>
</div>


<div id="main">
    <p id="Text-Main"> Content </p>

    <span id="Email">Email: </span> <span id="Email-addres">mailforpc03727@gmail.com</span>
    <br><span id="Also">Also: </span> <span id="Also-email-addres"> DELETED</span>
    <br><span class="Telegram">Telegram: </span> <span class="Telegram-addres"> @mehrangp_82</span>
    <br><span class="Telegram">Chanel: </span> <span class="Telegram-addres"> DELETED</span>
    <br><span id="call">Call: </span> <span id="call-addres"> DELETED</span>
    <br>
    <p id="text">TO SAY YOU LIKE IT OR SEND A SUGGESTION</p>
</div>
</body>
</html>