<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>G-Mental | Home</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/css.css">
    <link rel="stylesheet" href="../static/css/responsiv.css">
    <link rel="shortcut icon" type="image/x-icon" href="../static/image/G-icon2.png">

</head>
<html lang="en">
<body>

<div class="list">
    <a class="menu" href="{{ about_url }}">About</a>
    <a class="menu" href="{{ find_firend_url }}">Find-Firend</a>
    <a class="menu" href="{{ music_url }}">Music</a>
    <a class="menu" href="{{ peopole_says_url }}">People-Says</a>
</div>

<DIV id="Text-center">
    Realizing that life is absurd


    <div id="Text-center_down">
        cannot be the end but only the beginning....<br>
        In this site I will put the things that calm me<br>
        down, you can also search a bit, maybe you <br>
        will discover something good for your peace<br>
        Please let me know if it was helpful to you
    </div>


    <a href="">
        <div href="" id="lets-go">
            LetsGo
        </div>
    </a>

</DIV>


</body>

<footer>

    <div id="foot">
        <div id="pic">
            <a href=""><img id="telegram-pic" src="../static/image/Telegram.png" alt="" title="Telegram"></a>
            <a href=""><img id="twiter-pic" src="../static/image/twiter.png" alt="" title="Twitter"></a>
            <a href=""><img id="youtube-pic" src="../static/image/youtube.png" alt="" title="YouTube"></a>
        </div>

        <div id="created"><img class="info-pic" src="../static/image/info.png" alt="">
            <ins>Created on December 20, 2022</ins>
        </div>
        <div id="created-2"><img class="info-pic" src="../static/image/info.png" alt="">
            <ins>Created on Dec. 20, 2022</ins>
        </div>


    </div>
    <img src="../static/image/hIde.png" alt="" id="hide">


</footer>
</html>