<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"   href="../static/css/find_firend.css">
    <link rel="shortcut icon" type="image/x-icon" href="../static/image/G-icon2.png">
    <title>G-Mental | Find-Firend</title>
</head>
<body>

<div class="list">
    <a class="menu" href="{{ about_url }}">About</a>
    <a class="menu" href="{{ people_says_url }}">People-Says</a>
    <a class="menu" href="{{ music_url }}">Music</a>
    <a class="menu" href="{{ home_url }}">Home</a>
</div>

{% for a in all_topic %}
<div class="topic-continer">
    <div class="main-continer">
        <div class="body-topic">{{a[2]}}</div>
        <a class="send-firend-requests" href="https://t.me/{{a[4]}}">Send Firend Request</a>
        <div class="button-things">
            <div class="from">From {% if a[3] %} {% if a[4] %} <a target="_blank" href="https://t.me/{{a[4]}}">{{a[3]}}</a> {% else %} {{a[3]}} {% endif %} {% else %} <span class="red">Anonymous</span> {% endif %} in {{a[1]}}</div>
        </div>
    </div>
</div>
{% endfor %}

</body>
</html>