<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/music.css">
    <link rel="shortcut icon" type="image/x-icon" href="../static/image/G-icon2.png">
    <title>G-Mental | Music</title>
</head>

<body>
<div class="list">
    <a class="menu" href="{{ about_url }}">About</a>
    <a class="menu" href="{{ find_firend_url }}">Find-Firend</a>
    <a class="menu" href="{{ people_says_url }}">People-Says</a>
    <a class="menu" href="{{ home_url }}">Home</a>
</div>

<div class="continer-music">
    {% for musi in music %}
    <div class="cont">
        <div class="button-things">
            From {% if musi[3] %} {% if musi[4] %} <a target="_blank" href="https://t.me/{{musi[4]}}">{{musi[3]}}</a> {% else %} {{musi[3]}} {% endif %} {% else %} <span class="red">Anonymous</span> {% endif %} in {{musi[1]}}
        </div>
        <audio controls style="width: 70%;">
            <source src="data:audio/mpeg;base64,{{musi[0]}}" type="audio/mpeg">
        </audio>

        <div class="about-things">
            {{musi[2]}}
        </div>
    </div>
    {% endfor %}
</div>

</body>
</html>